<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <testsuite name="phpunit-dbunit">
        <directory suffix="Test.php">tests/Constraint</directory>
        <directory suffix="Test.php">tests/DataSet</directory>
        <directory suffix="Test.php">tests/Operation</directory>
        <directory suffix="Test.php">tests/DB</directory>
    </testsuite>

    <php>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_DATABASE_DB2_DSN" value="ibm:DRIVER={IBM DB2 ODBC DRIVER};DATABASE=TEST;HOSTNAME=db2;PORT=50000;PROTOCOL=TCPIP;"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_DATABASE_DB2_USERNAME" value="db2inst1"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_DATABASE_DB2_PASSWORD" value="db2inst1-pwd"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_DATABASE_DB2_SCHEMA" value="phpunit"/>
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
